.title {
    display: block;
}

.sub-title {
    text-align: center;
}

.container-subtitle {
    text-align: center;
}

.swatch-box {
    width: 75%;
    border: 5px solid black;
    padding: 10px;
    margin: 10px auto;
}

.container {
    display: block;
}

.container-content {
    display: inline-block;
    width: 100%;
}

.color-box {
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 10px auto;
    border: 3px solid black;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.fuschia {
    background-color: #f60364;
    color: white;
}

.mauve {
    background-color: #b88fc4;
    color: white;
}

.font-box {
    display: inline-block;
    padding: 30px;
    margin: 10px auto;
}

.font-label {
    text-decoration: underline;
    font-size: 25px;
    display: inline-block;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.arapey {
    font-family: 'Arapey', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

text-panel {
    display: inline-block;
}