body {
background-image: url("vaporwave-background2.jpg");
/*  Cover breaks fullscreen image at this point
background-size: cover;
*/
background-repeat: no-repeat;
height: 100%;
background-position: center;
}

