/* Styles for Bootstrap Overrides and custom elements */

body {
background-image: url("vaporwave-background2.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.content-box {
    border: 3px solid black;
    display: block;
}

.card {
    margin-top: 15px;
}