/* Styles for Bootstrap Overrides and custom elements */

body {
background-image: url("vaporwave-background2.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.content-box {
    border: 3px solid black;
    display: block;
}

.card {
    margin-top: 15px;
    border-color: #473f70!important;
}

.card-body {
    background-color: #473f70!important;
    color: white;
    
}

.btn-primary {
    background-color: #b05866!important;
    border-color: #b05866!important;
}

.jumbotron {
    margin-top: 2rem;
    color: #b05866;
}