.fuschia {
    background-color: #f60364!important;
    color: #fff;
}

.mauve {
    background-color: #b88fc4!important;
    color: white;
}

.white {
    background-color: #fff!important;
}

.black {
    background-color: #000!important;
    color: #fff;
}

.arapey {
    font-family: 'Arapey', serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}