.grid {
    display: grid;
    border: 5px solid black;
    width: 500px;
    height: 500px;
    grid-template: repeat(5, 1fr) / repeat(10, 1fr);
}

.item-1 {
    background-color: beige;
    color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url('image/nikon.jpg');
    background-size: cover;
}

.item-2 {
    background-color: lightblue;
    color: black;
    grid-area: 1 / 2 / 3 / 4;
}

.item-3 {
    background-color: seagreen;
    grid-area: 3 / 1 / 4 / 4;
}

.img {
    width: 100%;
    height: auto;
}


