.grid {
    display: grid;
    /*
    border: 5px solid black;
    */
    width: 900px;
    height: 2000px;
    grid-template: repeat(15, 1fr) / repeat(25, 1fr);
    margin: auto;
}

.item-1, .item-2, .item-3 {
    font-family: 'Roboto Slab', serif;
}

.item-1 {
    background-color: beige;
    color: black;
    grid-area: 1 / 1 / 1 / 19;
    display: grid;
}

.item-2 {
    /* Background Color for tracking purposes
    background-color: lightblue;
    */
    color: black;
    grid-area: 3 / 9 / 10 / 25;
}

.item-3 {
    /* Background Color for tracking purposes
    background-color: seagreen;
    */
    grid-area: 10 / 2 / 15 / 20;
}

.caption-1 {
    display: grid;
    grid-area: 1 / 16 / 1 / 25;
    color: rgb(248, 135, 233);
    font-size: 2rem;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border: solid 5px black;
}

.header {
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 10vh;
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
}

.custom-h2 {
    display: inline-block;
}

